@charset "utf-8";

#header {
	background: #A4C6E4; /* Old browsers */
	background: -moz-linear-gradient(top, #A4C6E4 0%, #3377A9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A4C6E4), color-stop(100%,#3377A9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #A4C6E4 0%,#3377A9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #A4C6E4 0%,#3377A9 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #A4C6E4 0%,#3377A9 100%); /* IE10+ */
	background: linear-gradient(top, #A4C6E4 0%,#3377A9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A4C6E4', endColorstr='#3377A9',GradientType=0 ); /* IE6-9 */
	border-bottom : 1px solid #386D85;
	margin-bottom : 6px;
}

#header .menu-main{
	text-align : center;
	outline : none;
}

#header .menu-main ul{
	width : 400px;
	margin : 0px auto;
	padding : 0px;
}

#header .menu-main li{
	margin : 5px 10px;
	padding : 0px;
	float : left;
	list-style : none;
}

#header .menu-main li a{
	position : relative;
	display : block;
	width : 80px;
	height : 80px;
	margin : 0px;
	padding-top : 55px;
	float : left;
	background : #B3CBDE;
	border : 1px solid #1F3E61;
	font-weight : bold;
	border-radius : 5px;
	color : #1F1F1F;
	cursor : pointer;
}

#header .menu-main li a:hover{
	background : #EEEEEE;
}

#header .menu-main li.x-item-selected a{
	background : #EEEEEE;
}

#header .menu-main a span{
	display  : block;
	width : 42px;
	height : 42px;
	position  : absolute;
	top : 10px;
	left : 17px;
}


#sidebar {
	border : 1px solid blue;	
	border-width : 1px;
	background : white;
}

#footer {
	border-top : 1px solid #3377A9; 
	margin-top: 6px;
	height : 22px;
	line-height : 22px;
	background: #A4C6E4; /* Old browsers */
	background: -moz-linear-gradient(top, #A4C6E4 0%, #79A8CE 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A4C6E4), color-stop(100%,#79A8CE)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #A4C6E4 0%,#79A8CE 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #A4C6E4 0%,#79A8CE 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #A4C6E4 0%,#79A8CE 100%); /* IE10+ */
	background: linear-gradient(top, #A4C6E4 0%,#79A8CE 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A4C6E4', endColorstr='#79A8CE',GradientType=0 ); /* IE6-9 */
}

/* =component */
.btn-mainmenu {
	background : #EEEEEE;	
	background-image : none;
}

/* current user infomation box */
.user-info-box {
    margin : 12px;
    color : #04408C;
   	font-weight : bold;
   	text-align : right;
}

.user-info-box .user-picture{
	width : 50px;
	height : 50px;
	margin : 5px;
	display : block;
	float : right;
	border : 1px solid #3377A9;
}

.user-info-box .user-info{
	height : 50px;
	line-height : 24px;
	margin : 5px;
	text-align : right;
}


/*icon*/
.icon-baseInfoMgr {
	background-image : url("../images/icon-sprite.png");
	background-position : 0px -210px;
}

.icon-deliverGoodsMgr {
	background-image : url("../images/icon-sprite.png");
	background-position : 0px -168px;	
}

.icon-supplementMgr {
	background-image : url("../images/icon-sprite.png");

	background-position : 0px -252px;		
}

.icon-systemConfigMgr {
	background-image : url("../images/icon-sprite.png");
	background-position : 0px -42px;	
}

